body {
  background: #ffe082;
  margin: 20px;
}

.pointer {
  background: #f48fb1;
  border: 3px solid #ffdddd;
  line-height: 34px;
  height: 34px;
  width: 34px;
  padding: 0;
  border-radius: 50%;

  cursor: move;
  position: absolute;
  z-index: 1000;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.drag {
  z-index: 1001;
}